*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family:Helvetica, Arial, sans-serif;
}
/* inizo classi di layout con il main */
.container-fluid-2{
    width:100%;
    max-width:100%;
    display:flex;
    flex-direction:column;
}
main{
    flex-grow:1;
}
main .side-bar{
    height:calc(100vh - 80px);
    background-color:#000000;
    color:white;
}
main .content-main{
    height:calc(100vh - 80px);
    background-color:#141921;
    overflow-y:scroll;
}
main .content-main .opacity-bar{
    width:100%;
    height:80px;
    position:fixed;
    background-color:rgba(8, 11, 17, .5);
}
/* classi content main */
main .opacity-bar{
    display:flex;
    color:white;
    align-items: center;
    font-weight: bold;
}
main .botton-upgrade{
    border:1px solid white;
    border-radius:50px;
    width:250px;
    height:40px;
    line-height:40px;
    text-align: center;
    font-size:14px;
}


/* main .content-main .contenuto-album{
    width:100px;
    height:1500px;
    background-color:yellow;
} */

/* inizio classi (NAV) footer */
footer{
    height:80px;
    background-color:#282828;
}
footer.row .left, .center, .right{
    border:1px solid white;
}
