*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
/* inizo classi di layout */
.container-fluid{
    width:100%;
    max-width:100%;
    background-color:red;
}
main .side-bar{
    width:15%;
    height:calc(100vh - 80px);
    background-color:#000000;
}
main .content-main{
    width:85%;
    height:calc(100vh - 80px);
    background-color:#141921;
}
footer{
    height:80px;
    background-color:#282828;
}
main .content-main .opacity-bar{
    height:80px;
    background-color:red;
}